<div id="carouselMonstruario" class="carouselslide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../../assets/278102733_160716333038018_921381110884178406_n.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/carrousel1.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="../../../assets/299365084_389416783299081_2973603038313151486_n.jpg" class="d-block" alt="...">
      </div>
    </div>
  </div>

<div class="calcas-show-product">
  <h1 class="product-type-name text-center">Calças</h1>
  <div class="m-2">
    <app-product-card [sliderConfig]="sliderConfig" [productArr]="produtos"></app-product-card>
  </div>
</div>