/* You can add global styles to this file, and also import other style files */
body{
   background-color: #BCD8E6;
}

* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   margin: 0;
}
